Conditional Probability

Example: Calculate Conditional Probability in Python

In [1]:
import pandas as pd
import numpy as np
#create pandas DataFrame with raw data
df = pd.DataFrame({'gender': np.repeat(np.array(['Male', 'Female']), 150),
                   'sport': np.repeat(np.array(['Baseball', 'Basketball', 'Football',
                                                'Soccer', 'Baseball', 'Basketball',
                                                'Football', 'Soccer']), 
                                    (34, 40, 58, 18, 34, 52, 20, 44))})
#produce contingency table to summarize raw data
survey_data = pd.crosstab(index=df['gender'], columns=df['sport'], margins=True)
#view contingency table
survey_data

sport   Baseball  Basketball  Football  Soccer  All
gender
Female        34          52        20      44  150
Male          34          40        58      18  150
All           68          92        78      62  300

In [2]:
#extract value in second row and first column 
survey_data.iloc[1, 0]

34

In [3]:
#calculate probability of being male, given that individual prefers baseball
survey_data.iloc[1, 0] / survey_data.iloc[2, 0]

0.5

In [4]:
#calculate probability of preferring basketball, given that individual is female
survey_data.iloc[0, 1] / survey_data.iloc[0, 4]

0.3466666666666667

Calculate the Coefficient of Variation

Example 1: Coefficient of Variation for a Single Array

In [5]:
data = [88, 85, 82, 97, 67, 77, 74, 86, 81, 95, 77, 88, 85, 76, 81, 82]
#define function to calculate cv
cv = lambda x: np.std(x, ddof=1) / np.mean(x) * 100 
#calculate CV
cv(data)

9.234517604065275

Example 2: Coefficient of Variation for Several Vectors

In [6]:
import numpy as np
import pandas as pd
#define function to calculate cv
cv = lambda x: np.std(x, ddof=1) / np.mean(x) * 100 
#create pandas DataFrame
df = pd.DataFrame({'a': [88, 85, 82, 97, 67, 77, 74, 86, 81, 95],
                   'b': [77, 88, 85, 76, 81, 82, 88, 91, 92, 99],
                   'c': [67, 68, 68, 74, 74, 76, 76, 77, 78, 84]})
#calculate CV for each column in data frame
df.apply(cv)

a    11.012892
b     8.330843
c     7.154009
dtype: float64

Percentiles

Percentiles of an Array:

In [7]:
import numpy as np
#make this example reproducible
np.random.seed(0)
#create array of 100 random integers distributed between 0 and 500
data = np.random.randint(0, 500, 100)
#find the 37th percentile of the array
np.percentile(data, 37)

173.26

In [8]:
#Find the quartiles (25th, 50th, and 75th percentiles) of the array
np.percentile(data, [25, 50, 75])

array([116.5, 243.5, 371.5])

Percentiles of a DataFrame Column:

In [9]:
import numpy as np 
import pandas as pd
#create DataFrame
df = pd.DataFrame({'var1': [25, 12, 15, 14, 19, 23, 25, 29, 33, 35],
                   'var2': [5, 7, 7, 9, 12, 9, 9, 4, 14, 15],
                   'var3': [11, 8, 10, 6, 6, 5, 9, 12, 13, 16]})
#find 90th percentile of var1 column
np.percentile(df.var1, 95)

34.099999999999994

Percentiles of Several DataFrame Columns:

In [10]:
import numpy as np 
import pandas as pd
#create DataFrame
df = pd.DataFrame({'var1': [25, 12, 15, 14, 19, 23, 25, 29, 33, 35],
                   'var2': [5, 7, 7, 9, 12, 9, 9, 4, 14, 15],
                   'var3': [11, 8, 10, 6, 6, 5, 9, 12, 13, 16]})
#find 95th percentile of each column
df.quantile(.95)

var1    34.10
var2    14.55
var3    14.65
Name: 0.95, dtype: float64

In [11]:
#find 95th percentile of just columns var1 and var2
df[['var1', 'var2']].quantile(.95)

var1    34.10
var2    14.55
Name: 0.95, dtype: float64