Create a NumPy ndarray Object

In [1]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

Access Array Elements

In [2]:
import numpy as np
arr = np.array([1, 2, 3, 4])
print(arr[0])

1

Slicing arrays

In [1]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[1:5])
print(arr[-3:-1])
print(arr[1:5:2])

[2 3 4 5]
[5 6]
[2 4]

Shape of an Array

Get the Shape of an Array

In [2]:
import numpy as np
arr1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
print(arr1.shape)
arr = np.array([1, 2, 3, 4], ndmin=5)
print(arr)
print('shape of array :', arr.shape)

(2, 4)
[[[[[1 2 3 4]]]]]
shape of array : (1, 1, 1, 1, 4)

Reshaping arrays

In [3]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4, 3)
print(newarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

Iterating Arrays

In [4]:
import numpy as np
arr = np.array([1, 2, 3])
for x in arr:
  print(x)

1
2
3

Joining NumPy Arrays

In [5]:
import numpy as np
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr = np.concatenate((arr1, arr2))
print(arr)

[1 2 3 4 5 6]

Splitting NumPy Arrays

In [6]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
newarr = np.array_split(arr, 3)
print(newarr)

[array([1, 2]), array([3, 4]), array([5, 6])]

Searching Arrays

In [7]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
x = np.where(arr%2 == 0)
print(x)

(array([1, 3, 5, 7]),)

Sorting Arrays

In [8]:
import numpy as np
arr = np.array([3, 2, 0, 1])
print(np.sort(arr))
arr1 = np.array(['banana', 'cherry', 'apple'])
print(np.sort(arr1))

[0 1 2 3]
['apple' 'banana' 'cherry']