Standard Deviation

Method 1: Calculate Standard Deviation Using NumPy Library:

In [2]:
import numpy as np
my_list = [32, 55, 59, 63, 76, 28, 13, 44, 14, 17, 18]
#calculate sample standard deviation of list
print(np.std(my_list, ddof=1))
#calculate population standard deviation of list 
print(np.std(my_list))

22.389526772375273
21.347576168372438

Method 2: Calculate Standard Deviation Using statistics Library:

In [3]:
import statistics as stat
my_list = [3, 5, 5, 6, 7, 8, 13, 14, 14, 17, 18]
#calculate sample standard deviation of list
print(stat.stdev(my_list))
#calculate population standard deviation of list 
print(stat.pstdev(my_list))

5.310367218940701
5.063236478416116

Method 3: Calculate Standard Deviation Using Custom Formula:

In [4]:
my_list = [3, 5, 5, 6, 7, 8, 13, 14, 14, 17, 18]
#calculate sample standard deviation of list
print((sum((x-(sum(my_list) / len(my_list)))**2 for x in my_list) / (len(my_list)-1))**0.5)
#calculate population standard deviation of list 
print((sum((x-(sum(my_list) / len(my_list)))**2 for x in my_list) / len(my_list))**0.5)

5.310367218940701
5.063236478416116

Contingency Table

Step 1: Create the Data:

In [5]:
import pandas as pd
#create data
df = pd.DataFrame({'Order': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                            11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                   'Product': ['TV', 'TV', 'Comp', 'TV', 'TV', 'Comp',
                               'Comp', 'Comp', 'TV', 'Radio', 'TV', 'Radio', 'Radio',
                               'Radio', 'Comp', 'Comp', 'TV', 'TV', 'Radio', 'TV'],
                   'Country': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B', 'B', 'B',
                               'B', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C']})
#view data
df

    Order Product Country
0       1      TV       A
1       2      TV       A
2       3    Comp       A
3       4      TV       A
4       5      TV       B
5       6    Comp       B
6       7    Comp       B
7       8    Comp       B
8       9      TV       B
9      10   Radio       B
10     11      TV       B
11     12   Radio       B
12     13   Radio       C
13     14   Radio       C
14     15    Comp       C
15     16    Comp       C
16     17      TV       C
17     18      TV       C
18     19   Radio       C
19     20      TV       C

Step 2: Create the Contingency Table:

In [6]:
pd.crosstab(index=df['Country'], columns=df['Product'])

Product  Comp  Radio  TV
Country
A           1      0   3
B           3      2   3
C           2      3   3

Step 3: Add Margin Totals to the Contingency Table:

In [7]:
pd.crosstab(index=df['Country'], columns=df['Product'], margins=True)

Product  Comp  Radio  TV  All
Country
A           1      0   3    4
B           3      2   3    8
C           2      3   3    8
All         6      5   9   20

Calculate Relative Frequency:

Defining function

In [9]:
def rel_freq(x):
    freqs = [(value, x.count(value) / len(x)) for value in set(x)] 
    return freqs

Example 1: Relative Frequencies for a List of Numbers

In [10]:
data = [1, 1, 1, 2, 3, 4, 4]
#calculate relative frequencies for each value in list
rel_freq(data)

[(1, 0.42857142857142855),
 (2, 0.14285714285714285),
 (3, 0.14285714285714285),
 (4, 0.2857142857142857)]

Example 2: Relative Frequencies for a List of Characters

In [11]:
data = ['a', 'a', 'b', 'b', 'c']
#calculate relative frequencies for each value in list
rel_freq(data)

[('c', 0.2), ('a', 0.4), ('b', 0.4)]

Example 3: Relative Frequencies for a Column in a pandas DataFrame

In [12]:
import pandas as pd
data = pd.DataFrame({'A': [25, 15, 15, 14, 19],
                     'B': [5, 7, 7, 9, 12],
                     'C': [11, 8, 10, 6, 6]})
#calculate relative frequencies of values in column 'A'
rel_freq(list(data['A']))

[(25, 0.2), (19, 0.2), (14, 0.2), (15, 0.4)]

Interquartile Range

Example 1: Interquartile Range of One Array

In [13]:
import numpy as np
#define array of data
data = np.array([14, 19, 20, 22, 24, 26, 27, 30, 30, 31, 36, 38, 44, 47])
#calculate interquartile range 
q3, q1 = np.percentile(data, [75 ,25])
iqr = q3 - q1
#display interquartile range 
iqr

12.25

Example 2: Interquartile Range of a Data Frame Column

In [14]:
import numpy as np
import pandas as pd
#create data frame
df = pd.DataFrame({'rating': [90, 85, 82, 88, 94, 90, 76, 75, 87, 86],
                   'points': [25, 20, 14, 16, 27, 20, 12, 15, 14, 19],
                   'assists': [5, 7, 7, 8, 5, 7, 6, 9, 9, 5],
                   'rebounds': [11, 8, 10, 6, 6, 9, 6, 10, 10, 7]})
#calculate interquartile range of values in the 'points' column
q75, q25 = np.percentile(df['points'], [75 ,25])
iqr = q75 - q25
#display interquartile range 
iqr

5.75

Example 3: Interquartile Range of Multiple Data Frame Columns

In [15]:
import numpy as np
import pandas as pd
#create data frame
df = pd.DataFrame({'rating': [90, 85, 82, 88, 94, 90, 76, 75, 87, 86],
                   'points': [25, 20, 14, 16, 27, 20, 12, 15, 14, 19],
                   'assists': [5, 7, 7, 8, 5, 7, 6, 9, 9, 5],
                   'rebounds': [11, 8, 10, 6, 6, 9, 6, 10, 10, 7]})
#define function to calculate interquartile range
def find_iqr(x):
  return np.subtract(*np.percentile(x, [75, 25]))
#calculate IQR for 'rating' and 'points' columns
df[['rating', 'points']].apply(find_iqr)

rating    6.75
points    5.75
dtype: float64

In [16]:
#calculate IQR for all columns
df.apply(find_iqr)

rating      6.75
points      5.75
assists     2.50
rebounds    3.75
dtype: float64