Data Preprocessing and Data Transformation

In [2]:
import pandas as pd
import numpy as np
cols=['col0', 'col1', 'col2', 'col3', 'col4', 'col5', 'col6']
rows=['row0', 'row1', 'row2', 'row3', 'row4', 'row5', 'row6']
data=np.random.randint(100, 300, size=(7,7))
df=pd.DataFrame(data, columns=cols, index=rows)
df.head()

      col0  col1  col2  col3  col4  col5  col6
row0   197   182   169   152   235   274   147
row1   145   125   111   136   285   101   181
row2   233   170   294   194   141   256   197
row3   143   233   290   256   286   143   297
row4   187   144   164   119   183   119   250

In [3]:
df['col1']['row1']

125

In [4]:
df.iloc[4, 2]

164

In [5]:
df.loc['row4','col2']

164

In [6]:
df_new=df[['col1', 'col2']]
df_new.head()

      col1  col2
row0   182   169
row1   125   111
row2   170   294
row3   233   290
row4   144   164

In [7]:
df_new=df[['col1', 'col2']][1:4]
df_new.head(3)

      col1  col2
row1   125   111
row2   170   294
row3   233   290

In [8]:
df['col0']
df.loc[:,'col0']
df.iloc[:, 0]

row0    197
row1    145
row2    233
row3    143
row4    187
row5    102
row6    198
Name: col0, dtype: int64

In [9]:
df['col3'][2:5]

row2    194
row3    256
row4    119
Name: col3, dtype: int64

In [10]:
df.loc['row1': 'row4',:]

      col0  col1  col2  col3  col4  col5  col6
row1   145   125   111   136   285   101   181
row2   233   170   294   194   141   256   197
row3   143   233   290   256   286   143   297
row4   187   144   164   119   183   119   250

In [11]:
df.iloc[1:4, :]

      col0  col1  col2  col3  col4  col5  col6
row1   145   125   111   136   285   101   181
row2   233   170   294   194   141   256   197
row3   143   233   290   256   286   143   297

In [12]:
df.loc[:,'clo1': 'col4']

      col0  col1  col2  col3  col4
row0   197   182   169   152   235
row1   145   125   111   136   285
row2   233   170   294   194   141
row3   143   233   290   256   286
row4   187   144   164   119   183
row5   102   113   195   210   260
row6   198   190   165   102   233

In [13]:
df.iloc[:, 1:4]

      col1  col2  col3
row0   182   169   152
row1   125   111   136
row2   170   294   194
row3   233   290   256
row4   144   164   119
row5   113   195   210
row6   190   165   102

In [14]:
df.loc['row1':'row4', 'col1':'col4']

      col1  col2  col3  col4
row1   125   111   136   285
row2   170   294   194   141
row3   233   290   256   286
row4   144   164   119   183

In [15]:
df.iloc[1:4,1:4]

      col1  col2  col3
row1   125   111   136
row2   170   294   194
row3   233   290   256

In [16]:
df.loc['row2':'row4', ['col1', 'col3']]

      col1  col3
row2   170   194
row3   233   256
row4   144   119

In [17]:
df.dropna(how="all", axis=1)

      col0  col1  col2  col3  col4  col5  col6
row0   197   182   169   152   235   274   147
row1   145   125   111   136   285   101   181
row2   233   170   294   194   141   256   197
row3   143   233   290   256   286   143   297
row4   187   144   164   119   183   119   250
row5   102   113   195   210   260   173   126
row6   198   190   165   102   233   143   223